__pycache__/
ignore/
# ignore model files and checkpoints
best_model_*/
code/checkpoints
checkpoints/
results/logs/Pickle_files/
# # ignore log files (need to save output logs)
# *.log

# sbatch scripts folder
scripts/